.root {
  width: 20rem;
  position: relative;
}

.main {
  display: flex;
  justify-content: space-between;
}

.image {
  height: 10rem;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.5rem;
}

.price {
  font-size: 1rem;
}

.edit {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: #f5f5f5;

  &:hover {
    background-color: #e0e0e0;
  }
}
