.root {
  margin: 0 5rem 0 14rem;
}

.assets {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  //grid-template-rows: repeat(auto-fill, 350px);
  grid-auto-flow: row;
  grid-gap: 1rem;
  justify-content: center;
}

.addbtn {
  position: fixed;
  right: 2rem;
}

.filters {
  position: fixed;
  left: 2rem;
  width: 12rem;

  & > div {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
